@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto+Slab:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background:url(https://images.unsplash.com/photo-1485841890310-6a055c88698a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80) top center no-repeat;
    background-size: cover; 
    background-attachment:fixed;
}

.title{
    font-family: 'Roboto Slab', serif;
}