@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

ul {
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size:medium;
    background-color:#F5D3EF;
    margin: 0;
    padding: 0;
  }